* {
    font-family: "Poppins", serif;
    margin: 0%;
}

.main{
    margin: 0% auto;
    text-align: center;
}

                                        /* Barre de navigation */
nav{

    position: fixed;
    background-color: white;
    left: 0px;
    right: 0px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.agence {
    margin: 1.5em;
    color: #007c47;
    font-weight: bold;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    color: #d5f31f;
}

.titre {
    font-style: italic;
}

.agence, .titre {
    font-size: 24px;
}

.menu,
 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 16px;
    padding-right: 20px;
}

.menu{
    margin-right: 20px;
    display: flex;
    padding: 0%;
} 

ul{
    gap: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: flex-end;

}
.agence{
    text-align: center;
}
    

.imagepresentation {
    background: url(../images/feuille.jpg) no-repeat center center/cover;
    height: 650px;

}
.background-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    margin-top: 70px;
    z-index: 1;
}
.bienvenue {
    color: white;
    font-size: 2.7em;
}
.eco {
    color: #d5f31f;
    font-size: 50px;
}
h1 {
    text-align: right ;
    padding-top: 400px;
    margin-right: 50px;
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: #029d5b;
    font-size: 2em;
 }
 .burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
 }
 .burger span {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 2px;
    transition: 0.3s;
  }




                                        /* Notre equpie avec photo  */
.equipe {
    text-align: center;
    font-weight: bold;
    margin-left: 20%;
    margin-right: 20%;
}

.photo{
    display: flex;
    flex-wrap: nowrap;
    margin: 80px 30px;
}

.equipier img{
    height: 306px;
    width: 300px;
    border-radius: 50%;
}

.equipier{
    text-align: center;
}

                                        /* Satisfaction client  */
.satisfaction{
    background-color: #053b44;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    padding: 30px 0px 30px 100px;
    justify-content: space-between;
}

h3{
   color: #d5f31f;
   font-weight: bold;
   font-size: 2em;
}

.satisfaction p{
    color: white;
}

                                        /* Service proposer  */
.services{

    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 200px;
}

.logo{
    background-color: rgb(236, 236, 236);
    padding: 50px;
    border-radius: 10%;
}
                                               /* Formulaire */

form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

 .formulaire{
    background-color: #053b44;
    color: white;
    padding-top: 50px;
}

.formulaire h2 {
    color: #d5f31f;    
}

.formulaire p {
    margin-top: 20px;
    text-align: center;
}

input{
    background-color: #053b44;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 80px;
    color: white;
    padding-right: 30%;
}

::placeholder{
    color: white;
    font-weight: 200;
}

.ligne, .ligne-deux{
display: flex;
justify-content: space-around;
}

.mail{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: auto 4%;
}

#mess{
    padding-bottom: 200px;
}

.envoyer{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    
}
.envoyer input{
    background-color: #d5f31f;
    color: #042c33;
    font-weight: bold;
    border: none;
    padding: 15px 50px;
    border-radius:2em;

}


/* a propos  */

.apropos{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.collab{
    width: 500px;
    height: 380px;
    border-radius: 5%;
}

 .logo_apropos{
    height: 360px;
    width: 500px;
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid black;
    padding: 20px 20px 0px 20px;
    margin-bottom: auto;    
}

.logo_deux img{
    margin-right: 100px;
    margin-left: 20%;
    height: 50px;
    width: 50px;
    border: 3px solid #053b44;
    padding: 10%;
    border-radius: 50%;
}

.logo_apropos h4{
    margin-bottom: 20px;
}


                        /* Galeire  */

.galerie{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galerie img{
    width: 1000px;
    height: 600px;
    border-radius: 5%;
}

.galerie p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.gauche{
    border: 1px solid black;
    border-radius: 50%;
}

.droit{
    background-color: black;
    border-radius: 50%;
}

.chevron{
    display: flex;
    gap: 1000px;
    margin-bottom: 50px;
    margin-top: 20px;
}
.fa-chevron-left, .fa-chevron-right{
    border: 1px solid black;
    padding: 8px 10px ;
    border-radius: 50%;
}
.fa-chevron-left:hover , .fa-chevron-right:hover {
    color: white;
    background-color: black;
}



                /* Footer */
.tableau_foot{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: #053b44;
    color: white;
    text-align: center;
    flex-direction: row;
}

table{
    width: 70%;
    padding-left: 10px;
}

tr{
    font-weight: 200;
  }

.coordonne{
    margin-left: 100px;
}

  .tel, .adresse{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px auto 10px auto;   
    gap: 10px; 
 }

  .end{
    display: flex;
    flex-wrap: wrap;
    background-color: #042c33;
    color: white;
    padding: 40px;
    justify-content: space-between;
  }
  
  .social{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
  }

  @media screen and (max-width:1000px) {

    .agence{
        margin-left: 10px;
    }
    .menu{
        display: none;
    }

     .bienvenue, .eco{
        text-align: left;
        padding-left: 20px;       
    }
    .eco{
        display: flex;
        flex-wrap: nowrap;
    }

    .photo{
        display: flex;
        flex-direction: column;    
    }

    .equipier{
        margin-bottom: 50px;
    }
    h4 {
        text-align: center;
    }





    .ligne, input, .ligne-deux, input{
        flex-direction: column;
        align-items: center;
    }

    .mail, input{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textform{
        text-align: center;
    }
    .galerie {
        margin: 20px;
    }
    .galerie img {
        width: auto;
    }

    .chevron{
        display: flex;
        margin-left: 50px;
        gap: 800px;
       margin-bottom: 50px;        
    }
    .burger {
        display: flex;
        margin-right: 50px;
      }
    
      .menu.active {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
      }
    
      .menu.active ul {
        flex-direction: column;
      }
    
      .menu.active ul li {
        margin: 15px 0;
      }
  }


  @media screen and (max-width:768px){
    .bienvenue, .eco{
        font-size: 1.5em;

    }
    .satisfaction{
        display: flex;
        justify-content: space-around;
        padding:20px 0;
    }

    .crea{
        margin-bottom: 20px;
        text-align: center;
    }  
    .logo_apropos{
        height: 500px;
        width: 370px;
        margin-top: 30px;
    }
    .collab{
        height: 300px;
        width: 400px;
    }
    .services{
        gap: 50px
    }

    .logo_deux{
        display: flex;
       margin-bottom: 50px;
       align-items: center;
    }
    .logo_deux img{
        height: 30px;
        width: 30px;
    }
    .textlogo{
        margin-bottom: 20px;
    }
    .galerie img {
        height: 400px;
        width: 600px;    
    }
    .galerie p {
        max-width: 600px;
    }

    .chevron{
    
        gap: 550px;
       margin-bottom: 50px;        
    }

  }
  @media screen and (max-width:500px){
    .apropos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px 10px 0px;
    }

    .collab{
        height: 300px;
        width: 400px;
        margin-bottom: 20px;
    }
    .logo_apropos{
        display: flex;
        height: 700px;
        width: 370px;
    }
    .services{
        margin: 0;
    }
    .galerie img{
        height: 300px;
        width: 400px;
    }
    .chevron{
    
        gap: 300px;
       margin-left: 0; 
    }
    .tableau_foot{
        flex-direction: column;
        padding-left: 40px;
    }
    .coordonne{
        display: flex;
        margin: 0;
        padding-right: 30px;
    }

    .adresse , .tel{
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .end{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

  }