* {
    font-family: "Poppins", serif;
    margin: 0%;
}
main{
    margin: 0% auto;
    text-align: center;
}
                                        /* Barre de navigation */
nav{
    position: fixed;
    background-color: white;
    left: 0px;
    right: 0px;
    height: 70px;
    display: flex;
    align-items: center;
}

.agence {
    margin: 1.5em;
    color: #007c47;
font-weight: bold;
justify-content: flex-start;
}
a{
    text-decoration: none;
    color: #d5f31f;
}
.titre {
    font-style: italic;
}
.agence, .titre {
    font-size: 24px;
}
.liste-nav,
 ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 16px;
}
.liste-nav{
margin-right: 20px;
}
ul{
gap: 80px;
font-weight: bold;
text-align: center;
padding-top: 45px;
padding-left: 250px;

}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.imagepresentation {
    background: url(../images/feuille.jpg) no-repeat;

background-size: cover;
height: 650px;
}
.bienvenue {
    color: white;
    font-size: 2.7em;
}
.eco {
    color: #d5f31f;
    font-size: 50px;
}
h1 {
    text-align: right ;
padding-top: 400px;
margin-right: 50px;
}

h2 {
    margin-top: 30px;
    text-align: center;
    color: #029d5b;
    font-size: 2em;
 }




                                        /* Notre equpie avec photo  */
.equipe {
    text-align: center;
    font-weight: bold;
margin-left: 20%;
margin-right: 20%;
}

.photo{
display: flex;
flex-wrap: nowrap;
margin-top: 80px;
margin-left: 65px;
}
.equipier img{
    height: 306px;
    width: 300px;
    border-radius: 50%;
}
.equipier{
    text-align: center;
}
                                        /* Satisfaction client  */
.satisfaction{
    background-color: #053b44;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 20px;
}
h3{
   color: #d5f31f;
   font-weight: bold;
   font-size: 2em;
}
.satisfaction p{
    color: white;
}

                                        /* Service proposer  */
.services{

max-width: 1200px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 50px 200px;

}
.logo{
    background-color: rgb(236, 236, 236);
    padding: 50px;
    border-radius: 10%;
}
                                               /* Formulaire */
.formulaire{
    background-color: #053b44;
    color: white;
    padding-top: 50px;

}
.formulaire h2 {
    color: #d5f31f;
    
}
.formulaire p {
    margin-top: 20px;
}
input{
    background-color: #053b44;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 30px;
    color: white;
}
::placeholder{
    color: white;
    font-weight: 200;
}
.ligne{

    display: flex;
    flex-wrap: nowrap;
    gap: 35px;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 50px;
    
}
.ligne, input{
   padding-right: 450px;
   margin-bottom: 20px;
   
}
#name, #phone{
    margin-left: 100px;

}
#mail, #mess{

    display: flex;
    flex-wrap: wrap;
    padding-right: 1090px;
    margin-left: 130px;
    margin-top: 75px;

}
.mess{
 padding-bottom: 30px;
}
#mess{
    padding-bottom: 250px;
}
.envoyer input{
background-color: #d5f31f;
color: #042c33;
font-weight: bold;
border: none;
padding: 15px 50px;
border-radius:2em;
margin-left: 1000px;
}


/* a propos  */

.apropos{ 
    margin: 50px 150px 20px 200px ;
 
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.collab{
    width: 500px;
    height: 380px;
    border-radius: 5%;
}
 .logo_apropos{

    height: 360px;
    width: 500px;
    border-radius: 5%;
}

.logo_apropos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 1px solid black;
    padding: 20px 20px 0px 20px;
    margin-bottom: auto;
    
}
.logo_deux img{
    margin-right: 100px;
    margin-left: 20%;
    height: 50px;
    width: 50px;
    border: 3px solid #053b44;
    padding: 10%;
    border-radius: 50%;
}
.logo_apropos h4{
    margin-bottom: 20px;
}


                        /* Galeire  */

.galerie{
    margin: 50px 200px 0px 200px;

    
}
.galerie img{
    width: 1150px;
    height: 600px;
    border-radius: 5%;
}
.galerie p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.gauche{
    border: 1px solid black;
    border-radius: 50%;
}
.droit{
    background-color: black;
    border-radius: 50%;
}
.chevron{
    max-width: 1200px;
    display: flex;
    margin-left: 200px;
    gap: 1100px;
   margin-bottom: 50px;

}
                /* Footer */
.tableau_foot{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    background-color: #053b44;
    color: white;
    text-align: center;
    flex-direction: row;

}
table{
    width: 75%;
}
tr{
    font-weight: 300;
  }
.coordonne{
margin-left: 150px;
}
  .tel, .adresse{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 10px auto 10px auto;   
    gap: 10px; 
 }

  .tel img, .adresse img {
    height: 24px;
    width: 24px;
  }

  .end{
    display: flex;
    flex-wrap: wrap;
    background-color: #042c33;
    color: white;
    padding: 50px;
    justify-content: space-between;
  }
  .social img{
    height: 16px;
    width: 16px;
    border: 1px solid white;
    padding: 10%;
    border-radius: 20%;
  }
  .social{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
